.pulse-container {
  background: #020617;
  padding: 20px;
  border-radius: 12px;
  margin-top: 30px;
  width: 100%;
  max-width: 600px;
}

.pulse-svg {
  width: 100%;
  height: 100px;
}

.pulse-line {
  fill: none;
  stroke: #22c55e;
  stroke-width: 3;
  stroke-linecap: round;

  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;

  animation: pulseMove 2s linear infinite, glowPulse 1.5s ease-in-out infinite;

  filter: drop-shadow(0 0 6px #22c55e)
          drop-shadow(0 0 12px rgba(34, 197, 94, 0.8));
}

@keyframes pulseMove {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes glowPulse {
  0% {
    filter: drop-shadow(0 0 4px #22c55e);
    opacity: 0.8;
  }
  50% {
    filter: drop-shadow(0 0 12px #22c55e)
            drop-shadow(0 0 20px rgba(34, 197, 94, 1));
    opacity: 1;
  }
  100% {
    filter: drop-shadow(0 0 4px #22c55e);
    opacity: 0.8;
  }
}
