.sidebar {
  width: 240px;
  height: 100vh;

  position: fixed;
  left: 0;
  top: 0;

  background: linear-gradient(180deg, #020617, #020617);
  padding: 30px 20px;

  display: flex;
  flex-direction: column;

  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.6);
}

/* Logo */
.logo {
  color: #38bdf8;
  margin-bottom: 30px;
  text-align: center;
}

/* Menu container */
.menu {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

/* Nav links */
.menu a {
  text-decoration: none;
  color: #e5e7eb;
  padding: 12px 16px;
  border-radius: 8px;
  font-size: 15px;
  display: block;
}

/* Active route */
.menu a.active {
  background: #1e293b;
  color: #38bdf8;
}

/* Hover */
.menu a:hover {
  background: #1e293b;
}

/* Logout button */
.logout {
  margin-top: auto;
  background: #dc2626;
  border: none;
  color: white;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
}
